# Common MQTT settings
MQTT_BROKER=localhost
MQTT_PORT=9001
MQTT_USERNAME=your_username
MQTT_PASSWORD=your_password
MQTT_DEBUG=False

# MQTT client settings
DEVICE_ID=computer1
MQTT_INTERVAL=5
MQTT_VERSION=3.1.1
MQTT_KEEPALIVE=60

# GUI settings
GUI_HOST=0.0.0.0
GUI_PORT=9876
DEBUG=False
SECRET_KEY=your-secret-key
