# MQTT broker settings
MQTT_BROKER=your_broker_address
MQTT_PORT=443
MQTT_USERNAME=your_username
MQTT_PASSWORD=your_password

# Device identifier
DEVICE_ID=your_device_id

# Publishing interval in seconds
MQTT_INTERVAL=5

# Debug mode (True/False)
MQTT_DEBUG=False
